<footer class="mdl-mega-footer">
<div class="mdl-mega-footer--middle-section" style="text-align: center;margin:0 auto; width:80%">


   <div class="container col-lg-6 col-md-12 col-sm-12 col-xs-12">
   	<h2 style="color: #FFFFFF;">Funded By</h2>
            <ul style="list-style-type: none; margin-left: 0px; padding-left:0px;">
                  <li><a href="http://www.wpafb.af.mil/afrl/afosr/" target="_blank"><img src="http://matin-hub.github.io//materialsinnovation.github.io/assets/logos/AFOSR.png" alt="Air Force of Sciencific Research" height="150"  style="padding-left: 50px"></a></li>
                  <li><a href="http://materials.gatech.edu/" target="_blank"><img src="http://matin-hub.github.io//materialsinnovation.github.io/assets/logos/IMAT.PNG" alt="Georgia Tech Institute of Materials" height="70" style="padding-left: 50px"></a></li>
            </ul>
   </div>
		 
   <div class="container col-lg-6 col-md-12 col-sm-12 col-xs-12">
      <h2 style="color: #FFFFFF;">Produced By</h2>
            <ul style="list-style-type: none;; margin-left: 0px; padding-left:0px;">
               <li><a href="http://www.wpafb.af.mil/afrl/afosr/" target="_blank"><img src="http://mined.gatech.edu/images/MINEDlogo.png" alt="MINED" height="150"  style="padding-left: 50px"></a></li>
               <li><a href="http://materials.gatech.edu/" target="_blank"><img src="http://matin-hub.github.io//materialsinnovation.github.io/assets/logos/matin_full_logo.png" alt="Georgia Tech Institute of Materials" height="150" style="padding-left: 50px"></a></li>
            </ul>   
      
   </div>
</div>

  
</footer>
